{erl_opts, [
  debug_info,
  warnings_as_errors,
  {parse_transform, lager_transform}
]}.

{cover_enabled, true}.

{deps, [
  {shards, {git, "https://github.com/cabol/shards.git", {branch, "master"}}},
  {lager, {git, "https://github.com/basho/lager.git", {tag, "3.1.0"}}},
  {recon, {git, "https://github.com/ferd/recon.git", {branch, "master"}}},
  {eper, {git, "https://github.com/massemanet/eper.git", {tag, "0.97.1"}}}
]}.
